body::before {
    display: block;
    content: '';
    height: 60px;
  }
  
  #map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .msme {
    /* padding-left: 2rem;  */
    height : 25vh; 
  }

  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }

  /* @media (max-width: 768px) {
    #learn
    {
        padding: 0px;
    }
  } */

  @media only screen and (min-width:768px) and ( max-width: 991px) {
    .msme {
      margin-bottom: 20px; /* Optional: Add some space between stacked boxes */
    }

    .msme{
      height: 16vh;
    }
    .bottom-fl
    {
      flex-direction: column;
    }

    
  }

  @media (min-width: 992px) and (max-width: 1200px) { 
    .msme {
      margin-bottom: 20px; /* Optional: Add some space between stacked boxes */
    }
    
    .msme{
      height: 21vh;
    }
    .bottom-fl
    {
      flex-direction: column;
    }
   }
